html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------------------- 
------- below is -- Globals
-------------------------------------------------------------- */

* {
	margin: none;
	box-sizing: border-box;
}

:root {
	--highlight: #34a5da;
	--dark: #222222;
	--dark-lighter: #3b3b3b;
	--light: #f1f2f6;
	--space-extra-small: 0.5rem;
	--space-small: 1rem;
	--space: 2rem;
	--pill: 1000vmax;
	--transition: 300ms;
}

body {
	background-color: var(--dark);
}

header {
	background-color: var(--highlight);
	padding: var(--space);
}

main {
	padding: var(--space);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

button {
	background-color: var(--highlight);
	border: none;
	border-radius: var(--pill);
	padding: var(--space-extra-small) var(--space-small);
	transition: var(--transition);
	font-weight: bold;
	color: var(--light);
	cursor: pointer;
	max-width: max-content;
	height: 100%;
	max-height: max-content;
}

button:hover {
	background-color: var(--dark-lighter);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
	margin: var(--space-extra-small) 0;
}

label {
	margin-top: var(--space-small);
}

input {
	padding: var(--space-extra-small);
	margin: var(--space-extra-small) 0;
	border: 1px solid var(--dark-lighter);
}

h2 {
	font-size: 34px;
	width: max-content;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

input {
	display: block;
	width: 100%;
}

.container {
	width: 100%;
	max-width: 900px;
}

.light-text {
	color: var(--light);
}

/* -------------------------------------------------------------- 
------- below is -- Header.jsx
-------------------------------------------------------------- */

.nav-ul {
	display: flex;
	gap: var(--space);
}

.nav-link {
	text-decoration: none;
	font-weight: bold;
	color: var(--dark);
}

.nav-link:visited {
	color: var(--dark-lighter);
}

.nav-link:hover {
	text-decoration: underline;
}

.nav-link:active {
	text-decoration: underline;
}

/* -------------------------------------------------------------- 
------- below is -- AllUsers.jsx
-------------------------------------------------------------- */

.all-users-container {
	padding: var(--space-small) 0;
	width: 100%;
}

/* -------------------------------------------------------------- 
------- below is -- UserPreview.jsx
-------------------------------------------------------------- */

.user-preview-card {
	background-color: var(--light);
	margin: var(--space-small) 0;
	padding: var(--space-small);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

.user-preview-info {
	display: flex;
	gap: var(--space);
	flex-wrap: wrap;
}

.user-preview-job {
	border-left: var(--space-extra-small) solid var(--highlight);
	padding-left: var(--space-small);
	display: flex;
	align-items: center;
	gap: var(--space-extra-small);
}

/* -------------------------------------------------------------- 
------- below is -- AddAUser.jsx
-------------------------------------------------------------- */

.form-container {
	padding: var(--space);
	background-color: var(--light);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.add-user-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.add-user-form-top-row {
	display: flex;
	gap: var(--space-small);
}

.add-user-form-input-div {
	width: 100%;
	max-width: 33%;
}

.add-user-form-movies-container {
	display: flex;
	gap: var(--space-small);
}

/* -------------------------------------------------------------- 
------- below is -- IndividualUser.jsx
-------------------------------------------------------------- */

.user-info-box {
	padding: var(--space);
	background-color: var(--light);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.user-info-box span {
	font-weight: normal;
}

.user-name {
	border-bottom: var(--space-extra-small) solid var(--highlight);
	width: min-content;
	padding-bottom: var(--space-extra-small);
	margin-bottom: var(--space);
}

.user-movie-li {
	margin-left: var(--space);
}

.user-nav-bar {
	margin: var(--space);
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--space-small);
}

.user-nav-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: var(--space-extra-small);
}

.user-nav-prev,
.user-nav-next {
	color: var(--light);
	cursor: pointer;
}

.user-nav-prev:hover,
.user-nav-next:hover {
	text-decoration: underline;
}

/* -------------------------------------------------------------- 
------- below is -- EditUser.jsx
-------------------------------------------------------------- */

.edit-user-box {
	padding: var(--space);
	background-color: var(--light);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.edit-user-box {
	width: 100%;
}

.edit-user-info-box {
	font-weight: normal;
}

.edit-user-name {
	border-bottom: var(--space-extra-small) solid var(--highlight);
	width: min-content;
	padding-bottom: var(--space-extra-small);
	margin-bottom: var(--space);
}

.edit-user-movies {
	display: flex;
	gap: 10px;
	width: 100%;
}

.edit-user-movie-li {
	margin-left: var(--space);
}